<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Facebook ProfileViewer</title>
  <style type="text/css">
  .left
  {
    background-color:
    float:left  
  }
  .right{
      float:inherit
  }
   /*form
   {
    vertical-align: center;

   }*/

  </style>
  </head>
<body>
  <br><br> 
  <h1> Access user profile </h1>
  <br><br>
<div>
<div class="left">  
 <a href="http://127.0.0.1:8000/get-profile" rel="external" ><h3> view profile </h3></a>
</div>
{% if name %}
<div class="right">
 <p> profile name : {{name}} </p>
 <p> gender       : {{gender}}</p>
</div>
{% endif %}

<div class="left">  
 <a href="http://127.0.0.1:8000/get-friends" rel="external" ><h3> friends </h3></a>
</div>
{% if friends_count %}
<div class="right">
 <p> Number of friends : {{friends_count}} </p> 
</div>
{% endif %}
</div>

</body>
</html>
