
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Facebook ProfileViewer</title>
  </head>

  <body>

    <div class="container-narrow">

<br><BR><br>
      <hr>

      <div class="jumbotron">
        <h1>Oauth Implementation for facebook profileviewer </h1><br>
        <center><h3>Click here login to facebook</h3>
          <a href={{ login_url }} rel="external" > <img src="{{ MEDIA_URL }}images/facebook_logo.jpg" width=110 height =35></a></center>
        <!-- <a class="btn btn-large btn-success" href="login/">Sign in</a> -->
      </div>

      <hr>

      <div class="footer">
        
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>